NODE_ENV="development"

PORT="8000"
CORS_ORIGIN="*"

MONGODB_URI="mongodb://username:password@localhost:27017"

JWT_ACCESS_TOKEN_SECRET="your_access_token_secret"
JWT_ACCESS_TOKEN_EXPIRY="15m"
JWT_REFRESH_TOKEN_SECRET="your_refresh_token_secret"
JWT_REFRESH_TOKEN_EXPIRY="7d"